section {
    width: 100%;
    position: relative;
}

#home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

section:first-of-type {
    margin-top: 0;
}

@media (max-width: 768px) {
    section {
        min-height: auto;
    }
    
    #home {
        min-height: 100vh;
    }
}