/* Varmistetaan perusasetukset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 992px) {
    html {
        font-size: 14px;
        overflow-x: hidden;
    }
}
